
body{
  
    padding: 0px;
    margin:0px;
    font-weight: 100;
  }

  .mainContent{

    background-image: url("https://res.cloudinary.com/dllkefj8m/image/upload/v1746036791/Dise%C3%B1o_sin_t%C3%ADtulo_1_fuoksf.png");
    background-size: 1900px;
    background-position: 0px 300px;
  }
  

* {

  box-sizing: border-box;
 
  
  background-color: transparent; /* Reseta el color de fondo */
  font-weight: 100;
 
}

.communityFaqs{
    background: #0A2035 !important;
}


  
  /* Optional: Define the font-family for Gagalin if not defined by default */
  @font-face {
    font-family: 'Gagalin'; /* Use the name you want */
    src: url('/fonts/Gagalin-Regular.otf') format('opentype'); /* Specify the format */
    font-weight: 400; /* Or the appropriate weight */
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: var(--font-gagalin); /* Apply Gagalin to the body or any other element */
  }
  
