.accordion__wrapper {
  width: 90%;
  max-width: 600px; /* Ajusta un ancho máximo fijo */
  margin: 0 auto;
  padding-top: 10px;
}
  
  .accordion__content {
    width: 100%;
    margin: 0;
    padding: 10px; /* Elimina padding adicional */
  }


  .accordion__content {
    width: 100%;
    max-width: 100%; /* Evita que se expanda más allá de su contenedor */
    margin: 0;
    padding: 10px;
    background-color: #033826 !important;
    color: white !important;
    transition: none !important; /* Elimina transiciones que puedan afectar el tamaño */
  }
  


  @media(max-width:1030px){
    .accordion__wrapper {
      width: 80%;

    }
  }
  

  @media(max-width:780px){
    .accordion__wrapper {
      width: 90%;

    }
  }


  @media(max-width:591px){
    .accordion__wrapper {
      margin: 0 auto;
      width: 370px !important;

    }
  }

  @media(max-width:556px){
    .accordion__wrapper {
      margin: 0 auto !important;
      width: 300px !important;

    }
  }

  @media(max-width:556px){
    .accordion__wrapper {
      margin: 0 auto;
      width: 300px !important;

    }
  }

  @media(max-width:390px){
    .accordion__wrapper {
     
      width: 270px !important;

    }
  }


  @media(max-width:366px){
    .accordion__wrapper {
     
      width: 240px !important;

    }
  }