.card-container {
  display: grid;
 grid-template-columns: 1fr 1fr;
 row-gap: 60px;
 column-gap: 100px;
}

.card {
  position: relative;
  width: 380px;
  height: 280px;
  background: linear-gradient(220deg, rgba(0, 0, 0, 0.395) 45%, rgba(0, 0, 0, 0.573) 55%);
  border-top: 2px solid #343434;
  border-right: 1px solid rgba(255,255,255,0.65);
  border-bottom: 2px solid #524e4e;
  border-left: 1px solid rgba(255,255,255,0.48);
  border-radius: 16px;
  padding:10px;
  overflow: hidden;
  
  display: flex;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.side-bar {
  padding: 16px;
}

.icon-container {
  width: 36px;
  height: 36px;
  background-color:#037339;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon {
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.card-content {
  flex: 1;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 23px;
  margin: 0;
  font-weight: 500;
  background: linear-gradient(to right, white 50%,#037339 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "gagalin";
  
  
}

.card-description {
  font-size: 15px;
  font-family: "gagalin";
  margin-top: 24px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.6);
}


.card-registerBtn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-top: auto;
  transition: all 0.2s ease;
  font-family: "gagalin";
}

.card-registerBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button-container {
  margin-top: auto;
}

@media(max-width:993px){
  .card-container {
   
   row-gap: 60px;
   column-gap: 30px;
  }
}



@media(max-width:864px){
  .card-container {
  grid-template-columns: 1fr !important;

  }
}




@media(max-width:864px){
  .card-container {
  grid-template-columns: 1fr !important;

  }
}



@media(max-width:432px){
  .card {

    width: 300px;
    text-align: center;
    height: 390px;
   
  
    


  }
}