
.howWorks__cards {
  display: flex;
  padding-bottom:100px;
  justify-content: center;
  
}


.howWorks__card h2 {
  background-color: aquamarine;
  
}

.howWorks__card p {
  width: 250px;
  font-size: 20px;
  margin: 0 auto;
}

.howWorks__content h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 0px !important;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-family: "gagalin";
}



