

.imageTextContainer__cont {
  display: flex;
 
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #054F36, black);
  padding-bottom: 100px;

}

@media(max-width:1180px) {
  .imageTextContainer__cont {
    display: flex;
   flex-direction: column;
  
  }
}


@media(max-width:655px) {
  .imageTextContainer__texts {
   text-align: center;
  
  }
}

@media(max-width:570px) {
  .imageTextContainer__img{
    padding-top: 30px;
    filter: drop-shadow(2px 2px 4px #64D792);
    animation: shadowPulse 2s infinite; /* Animación infinita de 2 segundos */
  }
  .imageTextContainer__texts {
   font-size: 1.4rem;
  
  }

  .imageTextContainer__img{
    width: 400px;
    height: 340px;
    margin-bottom: 30px;
  }


}

@keyframes shadowPulse {
  0% {
    filter: drop-shadow(2px 2px 4px rgba(255, 234, 0, 0.654));
  }
  50% {
    filter: drop-shadow(4px 4px 8px rgba(255, 234, 0, 0.3)); /* Más difusa y tenue */
  }
  100% {
    filter: drop-shadow(2px 2px 4px rgba(255, 234, 0, 0.654)); /* Vuelve al original */
  }
}

@media(max-width:420px) {
  .imageTextContainer__texts {
   font-size: 1.2rem;
  
  }

  .imageTextContainer__img{
    width: 330px;
    height: 270px;
    margin-bottom: 30px;

  }

  .imageTextContainer__link{
   display: none;
  }
  
  .imageTextContainer__btn{
   width: 300px !important;
   justify-content: center;
   }
}



.imageTextContainer__text {
  text-align: end;
  color: gainsboro;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  
}

.imageTextContainer__text h1 {
 
    margin-top: -30px;
}

.imageTextContainer__text a {
 text-decoration: none;
 color: #64D792;
 font-size: 16px;
 margin-top: 16px;

}



.imageTextContainer__btn{
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
    color: white;
    width: 220px;
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(200, 200, 200, 0.3), #3b6154);
}

.imageTextContainer__btnAnda{
    display: flex;
    justify-content: space-around;
    align-items: center;
}