

.navBar__bar{
  opacity: 0.9;
    background-color: #054F36 !important;
}



@keyframes shadowPulse {
  0% {
    filter: drop-shadow(2px 2px 4px rgba(255, 234, 0, 0.654));
  }
  50% {
    filter: drop-shadow(4px 4px 8px rgba(255, 234, 0, 0.3)); /* Más difusa y tenue */
  }
  100% {
    filter: drop-shadow(2px 2px 4px rgba(255, 234, 0, 0.654)); /* Vuelve al original */
  }
}
.NavBarHero__SocialIcons {
  background-color: black;
  display: flex;
  gap: 10px;
}

.NavBarHero__SocialIcons svg {
  padding: 5px;
  border: solid 1px gray;
  border-radius: 50%;
}

.navBar__barHero {
  background-color: rgba(0, 0, 0, 0.408) !important; /* Fondo negro semitransparente */
  position: fixed !important; /* Asegura que esté en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999; /* Asegura que esté por encima del video */
}


.NavBar__RegisterBTN{
    background: linear-gradient(to bottom, rgba(200, 200, 200, 0.106), #054f3650);
    display: flex;
    gap: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px;
    align-items: center;
    color: white;
    cursor: pointer;
  
animation: shadowPulse 2s infinite; /* Animación infinita de 2 segundos */
}

.NavBar__RegisterBTN:hover{
  
  filter: drop-shadow(2px 2px 4px #64D792);
animation: shadowPulse 2s infinite; /* Animación infinita de 2 segundos */
}

.navBar__link{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    transition: text-decoration 0.3s ease-in-out;
    position: relative;
    padding: 5px;
}

.navBar__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .navBar__link:hover::after {
    transform: scaleX(1);
  }

.NavBar__SocialIcons{
    display: flex;
    gap: 5px;
    font-size: 20px;
    margin-left: 30px;
    
}

.NavBar__SocialIcons svg{

   border: solid 1px gray;
   padding: 5px;
   background-color: #64d79291;
   border-radius: 50%;
   margin-left: 6px;
   color: rgba(245, 245, 220, 0.44);
   transition: background-color 0.5s ease-in;
}

.NavBar__SocialIcons svg:hover{
    background-color: #64d792;
 
 }

 @media (max-width:490px){
    .NavBar__SocialIcons{
    display: none;
     
     }

     .NavBar__RegisterBTN{
        filter: drop-shadow(2px 2px 4px #64d79200);
        animation: none
     }
 }