.container {
    max-width: 600px;
    margin: 130px auto;
    padding: 20px;
    font-family: Arial, sans-serif;

  }
  .forYou__title {
    font-size: 3rem;
    text-align: center;
    font-family:"gagalin";
    color: black;
  }
  .forYou__p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  .forYou__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .forYou__label {
    display: flex;
    flex-direction: column;
    font-family:"gagalin";
    font-size: 16px;
    color: #333;
  }
  .forYou__input,
  .forYou__textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  .forYou__textarea {
    resize: vertical;
    min-height: 100px;
  }
  .forYou__button {
    padding: 10px;
    background-color: orange;
    color: white;
    font-family:"gagalin";
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  button:hover {
    background-color: rgba(255, 166, 0, 0.459);
  }